.card {
    float: left;
    border: none;
    outline: none;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 0.5vh 0.5vw #eee;
}
.card-pizza {
    width: 47%;
    height: 35vh;
    margin: 1.5%;
    display: flex;
    align-items: center;
    padding: 0 2em;
}
.card-ingredient {
    width: 47%;
    margin: 1.5%;
    display: flex;
    align-items: center;
    padding: 1em 2em;
}
.card-cart {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1em 0;
    padding: 1em;
}

.card-add-remove-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-amount{
    position: -webkit-sticky;
    position: sticky;
}

@media only screen and (max-width: 700px) {
    .card-pizza {
        width: 100%;
        height: auto;
    }
    .card-ingredient {
        width: 95%;
        margin: 2.5%;
        display: flex;
        align-items: center;
        padding: 1em 2em;
    }
}
